*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    
}

.registerpage {
    margin: 300px;
    background-color: pink;
    border: solid salmon;
    border-radius: 50px;
    width: 400px;
    height: 600px;
    text-align: center;
    align-items: center;
    
}

.registerpage h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fullname {
    margin-bottom: 5px;
    margin-bottom: 15px;
}

.fullname input{
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.username {
    margin-bottom: 5px;
    margin-bottom: 15px;
}

.username input{
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.password {
    margin-top: 5px;
    margin-bottom: 15px;
}

.password input{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.email {
    margin-top: 5px;
    margin-bottom: 15px;
}

.email input{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.button {
    border-radius: 10px;
    width: 60px;
    height: 30px;
    text-align: center;
}

.footer {
    margin-top: 40px;
}